@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap);

body {
    background-image: url(assets/topography.png);
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

header {
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    background-color: #333333;
    text-align: right;
    position: sticky;
    padding: 0 10%;
    box-sizing: border-box;
    top: 0;
    width: 100%;
}

header ul{
    display: inline;
    margin-left:auto;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

header li {
    display: inline;
    padding-left: 1vw;
}

main {
    padding: 0% 10%;
    text-align: justify;
}

dd {
    font-weight: bold;
    font-size: large;
    margin-left: 0;
    padding: 1% 0;
}

dl {
    padding-bottom: 120vh;
}

.red {
    color: #ff0099;
}

.logo {
    display: inline;
    vertical-align: middle;
}

.separator {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}